body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.boxed {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    margin-top: 20px;
}

@media screen and (min-width: 992px) {
    .boxed {
        width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* - - - MAIN FONTS - - - */

a {
    text-decoration:initial;
    color: initial;
}


h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin: 0px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    margin: 0px;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    margin: 0px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}

@media screen and (min-width: 992px) {
    h3 {
        font-size: 22px;
        line-height: 25px;
    }

    .subtitle {
        font-size: 14px;
        line-height: 25px;
    }

    p {
        font-size: 15px;
        line-height: 23px;
    }
}

/* - - - BUTTONS - - - */

a[class*="button"] {
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 7px 20px;
    min-width: 80px;
    display: inline-block;
    text-align: center;
    box-shadow: var(--schaduw);
    transition-duration: 300ms;
}

a[class*="button"]:hover {
    box-shadow: var(--drop-shadow);
}

a.main-button {
    color: var(--surface);
    background-color: var(--primary-hover);
}

a.main-button:hover {
    background-color: var(--primary);
}

a.secondary-button {
    color: var(--text);
    border: var(--text) 3px solid;
    font-weight: 600;
}

a.white-button {
    background-color: var(--surface);
    font-weight: 600;
}

@media screen and (min-width: 992px) {
    a[class*="button"] {
        font-size: 14px;
        min-width: 100px;
    }
}

a>img {
    margin-bottom: -7px;
    margin-left: 5px;
}

/* - - - FOOTER - - - */

.subfooter {
    padding: 5px;
    background-color: var(--text);
    color: var(--surface);
    text-align:center;
    font-size: 16px;
    line-height: 27px;
}

.subfooter a {
    color: inherit;
}

footer {
    background-color: var(--theme);
}

ul {
    list-style: none;
    padding-left:0px;
    font-size: 16px;
    line-height: 24px;
}
ul a:hover {
    text-decoration:underline;
}


@media screen and (min-width: 557px) {
    .doejemee h3 {
        font-size: 32px;
        line-height: 40px
    }
}

.doejemee .container {
    display:flex;
    flex-direction: column;
    gap: 20px;
    
}

.doejemee .container>div {
    background-color: var(--background);
    border-radius: var(--round);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.white-button {
    width: fit-content;
}

.doejemee .container>div>div {
    background-color: var(--surface);
    padding: 15px 15px 10px 15px;
    border-left: var(--text) dashed 3px;
}

@media screen and (min-width: 992px) {
    .doejemee .container {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
}
